<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/navigation/" | prepend: site.baseurl }}">Navigation</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/gameplay/" | prepend: site.baseurl }}">Gameplay</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/setup/" | prepend: site.baseurl }}">Setup</a></li>
  <li class="{% if page.url contains '/create_question/' %} active {% endif %}"><a href="{{ "/create_quiz/" | prepend: site.baseurl }}">Create Quiz</a></li>
</ul>

<ul class="icons">
  <li><a href="{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>
